/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

////////////////////////////////////////////////////

@keyframes colorChange{
    0% {
      background: $secondary;
    }
    100% {
      background: white;
    }
  }

a{
    text-decoration: none;
}

.App{
    font-family: 'Inter', sans-serif;
}

h1{
    color: $primary;
    font-weight: 700;
}

h2{
    color: $primary;
    font-weight: 700;
}

.Description{
    position: relative;
    width: 100vh;
    margin: 100px auto;
}


.Description-content{
    display: flex;
    position: relative;
    width: 500px;
    margin-left: 40%;
    flex-direction: column;
    align-self: flex-start;    

    .name{
        display: flex;
        flex-direction: row;
        .detail{
            width: 30px;
            height: 10px;
            margin-top: 1.6em;
            margin-left: 0.4em;
            animation-name: colorChange;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
        }
}
h1{
        margin-bottom: 10px;
        font-size: 2.5em;
        padding-left: 55px;
    }

    p{
        margin-bottom: 32px;
        font-size: 1.2  em;
        padding-left: 55px;
        line-height: 1.2em;

    }

    img {
        position: absolute;
        right: 29em;
        height: 300px;
        z-index: 2;
    }
}


.Tecnologias{
    h3{
        font-weight: 700;
        margin-bottom: 8px;
    }
    ul{
        color: $primary;
    }
    li{
        margin-bottom: 8px;
    }
    background-color: $secondary;
    padding: 10px 50px;
}

.Profile-retangle{
    position: absolute;
    right: 32em;
    margin-top: 45px;
    height: 270px;
    width: 250px;
    border: 3px solid $primary;
    z-index: 1;
}


/////////// Projetos/////////////


.title{ 
    color: $primary;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100vh;
    font-size: 2.5em;
    margin-left: 10%;
}

.Projects{
    position: relative;
    padding: 30px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.Project{
    display: flex;
    position: relative;
    width: 100vh;
    padding: 30px;
    color: black;
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h3{
        display: inline-block;
        margin-left: 15px;
        font-weight: 700;
        font-size: 2em;
        width: 200px;
    }
    p{
        background-color: $secondary;
        position: absolute;
        left: 25em;
        top: 6.5em;
        width: 350px;
        height: 100px;
        float: right;
        padding: 20px;
        line-height: 1.3em;
    }

    span{
        color: $primary;
        position: absolute;
        bottom: 35px;
        margin: 0px 20px;
        word-spacing: 8px;
    }

    img{
        height: 250px;
        width: 444px;
    }
}

.musicApp:hover{
    background-color: rgb(233, 233, 233);
    h3{color: $primary;}
}


/////////// Contatos /////////////

.Contact{
    margin-top: 5em;
    h2{
        margin: 30px;
        color: $secondary;
        font-size: 3em;
    }
    background-color: $primary;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    p{
        text-align: center;
        margin: 10px;
        line-height: 1.5em;
        width: 340px;
    }
}

.Contact-icons{
    img{
        margin: 20px;
    }
    
    a:hover{
        transform: scale(1.2);   
    }
  
    display: flex;
}

.Contact-mail{
text-decoration: none;
color: black;
font-weight: 700;
font-size: 1.5em;
padding: 25px 50px;
background-color: white;
border-bottom: 5px solid $secondary;
margin: 20px;
}

.Contact-mail:hover{
    
        transform: scale(0.9);   

}

.title{
    display: flex;
    flex-direction: row;
    .detail{
        width: 30px;
        height: 10px;
        margin-top: 0.6em;
        margin-left: 0.2em;
        animation-name: colorChange;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
}

