@media screen and ( max-width: 500px ){
    body{
        width: 500px;
        margin: 0px auto;
    }
    
    
    .Description{
        position: relative;
        margin: 100px auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    
    .Description-content{
        max-width: 500px;
        display: flex;
        position: relative;
        margin: 0;
        width: 500px;
        flex-direction: column;
        align-items: center;
        img{
           position: relative;
           margin:0px, auto;
           right: 0;
           z-index: 0;
           height: 300px;
        }
        p{
            padding: 0;
            font-size: 1.2em;
            max-width: 350px;
            text-align: center;

        }
        div{
            width: fit-content
        }
    }

    .Profile-retangle{
        position: absolute;
    
    }


    .Tecnologias{
        h3{
            font-weight: 700;
            margin-bottom: 8px;
        }
        ul{
            color: $primary;
        }
        li{
            margin-bottom: 8px;
        }
        background-color: $secondary;
        padding: 0px 0px;
    }


/////////////////////////////////////////////////////////////////


div{
    max-width: 500px;
}

.title{ 
    color: $primary;
    font-weight: 700;
    margin-bottom: 50px;
    width: 500px;
    font-size: 2.5em;
    margin-left: 30%;
}

.Projects{
    position: relative;
    max-width: 500px;
    padding: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.Project{
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    width: 100vh;
    padding: 30px;
    color: black;
    padding: 0;
    margin: 0px, auto;   
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h3{
        display: inline-block;
        margin-left: 15px;
        font-weight: 700;
        font-size: 2em;
        width: 200px;
    }
    p{
        background-color: $secondary;
        position: relative;
        left: 0;
        top: 0;
        width: 350px;
        height: 100px;
        float: right;
        padding: 20px;
        line-height: 1.3em;
    }

    span{
        color: $primary;
        position: absolute;
        bottom: 35px;
        margin: 0px 20px;
        word-spacing: 8px;
    }

    img{
        height: 70%;
        width: 70%;
    }
}

}

